__pycache__/
*.py[cod]
/output/
/input/
!/input/example.png
/models/
/temp/
/custom_nodes/
!custom_nodes/example_node.py.example
extra_model_paths.yaml
/.vs
.vscode/
.idea/
venv/
.venv/
/web/extensions/*
!/web/extensions/logging.js.example
!/web/extensions/core/
/tests-ui/data/object_info.json
/user/
*.log
web_custom_versions/
.DS_Store
openapi.yaml
filtered-openapi.yaml
uv.lock
.lh/
.env
node.zip

# Node modules
node_modules/

# TypeScript build temporary directory
web_backup_temp/
__pycache__
*.ini
wildcards/**
.vscode/
.idea/
node_modules/
storyboard_config.json
web/storyboard_config.js
web/comfyui/storyboard_config.js
userdata/
userdata/**
web/comfyui/testing/
web/comfyui/tests/
.pylintrc
.style.yapf
README.md
config.json